.poster {
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    padding: 50px;
    max-width: 640px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    margin: auto;
}

.modal-card-body {
    background-color: black;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.modal-content {
    padding: 35px;
    background-color: black;
}

#form-input {
    text-align: center;
}

.hide {
    display: none;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

img {
    border: 1px solid white;
    padding: 3px;
}

#main-div {
    border: 2px solid white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.image {
    border: 5px solid white;
    padding: 5px;
}

#poster-title {
    text-decoration: underline;
    font-size: 64px;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.quote {
    padding: 0;
    margin: 0px;
    font-style: italic;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}